
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'Mokoto';
  src: url('/assets/fonts/mokoto.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-mokoto {
  font-family: 'Mokoto', sans-serif !important;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-secondary:#0D267A;
  --color-primary:#2F61FE;
  --col:#ffffff;
}
.color-primary{
  color:var(--color-primary)
}
.color-secondary{
  background-color:var(--color-secondary)
}
.white{
  background-color:var(--col);
}
.text:hover{
  color:var(--color-primary);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html, body, * {
  font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}
body{
  background-color: var(--foreground);
  color: var(--foreground);
}
