@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-secondary:#0D267A;
  --color-primary:#2F61FE;
  --col:#ffffff;
}
.color-primary{
  color:var(--color-primary)
}
.color-secondary{
  background-color:var(--color-secondary)
}
.white{
  background-color:var(--col);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--foreground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
